In [1]:
strings = [
            'Mississipi', #?
            'zZa', #Z
            'z', #Z
            'baaa' #A
    ]

In [11]:
from collections import Counter
for string in strings:
    string = string.upper()
    if len(string) == 1:
        print(string)
    else:
        cnt_dict = Counter(list(string))
        dict = sorted(cnt_dict.items(),key=lambda x: x[1], reverse=True)
        if dict[0][1] == dict[1][1]:
            print('?')
        else:
            print(dict[0][0])

?
Z
Z
A

In [34]:
n = 9
scores = list(map(int, '10 20 30 40 50 60 70 80 90'.split()))

In [35]:
print(scores)
max_score = max(scores)

total = 0
for score in scores:
    total += (score / max_score) * 100
    
print(total / n)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
55.55555555555556

In [40]:
numbers = list(map(int, '0 4 2 5 6'.split()))

total = 0
for number in numbers:
    total += number ** 2
print(total)    
print(total  10)

81
8

In [42]:
from collections import Counter
cnt = Counter('1234567123')

In [55]:
cnt[str(0)]
len(cnt)

7

In [49]:
n = int(input())

for i in range(5):
    print(i)

5

In [53]:
h, m = map(int, input().split())

if m >= 45:
    m -= 45
else:
    if h == 0:
        h = 23
    else:
        h -= 1
    m += 60 - 45
print(h, ' ', m)

0 30
23   45

In [54]:
num1, num2 = input().split()

num1_ls = reversed(list(num1))
num2_ls = reversed(list(num2))

num1 = int(''.join(num1_ls))
num2 = int(''.join(num2_ls))

if num1 >= num2:
    print(num1)
elif num1 < num2:
    print(num2)

734 893
437

In [56]:
n = int(input())

for _ in range(n):
    string = input()
    cnt = 0
    score = 0
    for s in string:
        if s = 'O':
            cnt += 1
            score += cnt
        else:
            cnt = 0
    print(score)

SyntaxError: invalid syntax (1536972001.py, line 8)

In [58]:
print('\    /\\')
print(" )  ( ')")
print("(  /  )")
print(' \(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [67]:
import numpy as np

n, x = map(int, input().split())
num_ls = list(map(int, input().split()))
num_ls = np.array(num_ls)
less_ls = num_ls[num_ls < x]

if len(less_ls) == 0:
    print()
else:
    for num in less_ls:
        print(num, end=' ')

10 1
1 10 4 9 2 3 8 5 7 6

In [68]:
1== 1==1

True

In [70]:
list(map(int, ['1','1']))

[1, 1]