#### 23795 사장님 도박은 재미로 하셔야 합니다

In [ ]:
total = 0
while True:
    money = int(input())
    if money == -1:
        break
    total += money
print(total)

#### 3034 앵그리 창영

In [1]:
n, w, h = map(int, input().split())
max_len = (w ** 2 + h ** 2) ** 0.5
for _ in range(n):
    l = int(input())
    if l <= max_len:
        print('DA')
    else:
        print('NE')

5 3 4
3
DA
4
DA
5
DA
6
NE
7
NE

#### 14720 우유 축제

In [2]:
idx = 0
n = int(input())
stores = list(map(int, input().split()))
cnt = 0
for store in stores:
    if store == idx:
        cnt += 1
        idx = (idx + 1) % 3
print(cnt)

7
0 1 2 0 1 2 0
7

#### 11034 캥거루 세마리2

In [ ]:
while True:
    try:
        a, b, c = map(int, input().split())
        if b - a >= c - b:
            print(b - a - 1)
        else:
            print(c - b - 1)
    except:
        break

#### 1284 집 주소

In [ ]:
while True:
    num = input()
    if num == '0':
        break
    rst = 1
    for n in num:
        if n == '0':
            rst += 5
        elif n == '1':
            rst += 3
        else:
            rst += 4
    print(rst)

#### 1267 핸드폰 요금

In [6]:
n = int(input())
times = list(map(int, input().split()))
Y = sum((time + 30) // 30 * 10 for time in times)
M = sum((time + 60) // 60 * 15 for time in times)
if Y > M:
    print(f'M {M}')
elif Y < M:
    print(f'Y {Y}')
else:
    print(f'Y M {M}')

2
60 65
Y M 60

#### 1247 부호

In [ ]:
for _ in range(3):
    n = int(input())
    total = sum(int(input()) for _ in range(n))
    if total > 0:
        print('+')
    elif total < 0:
        print('-')
    else:
        print('0')

#### 1075 나누기

In [12]:
n = int(input()[:-2] + '00')
f = int(input())
if n % f == 0:
    print('00')
else:
    print(str(f * (n // f + 1))[-2:])

428392
17
15