#### 24751 Betting

In [2]:
rate = int(input())
print(1 + (100-rate) / rate)
print(1 + rate / (100-rate))

20
4.0

#### 13597 Tri-du

In [ ]:
cards = list(map(int, input().split()))
l = len(set(cards))
if l == 1:
    print(cards[0])
else:
    print(max(cards))

#### 17356 욱 제

In [3]:
a, b = map(int, input().split())
m = (b-a)/400
print(1 / (1 + (10 ** m)))

2000 1800
0.7597469266479578

#### 15610 Abbey Courtyard

In [1]:
a = int(input()) ** 0.5
print(4 * a)

1234
140.51334456200237

#### 16486 운동장 한 바퀴

In [2]:
d1 = int(input())
d2 = int(input())
print(2 * d1 + 2 * 3.141592 * d2)

13
8
76.265472

#### 2440 별 찍기 - 3

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    print('*' * i)

#### 10039 평균 점수

In [ ]:
total = 0
for _ in range(5):
    score = int(input())
    if score < 40:
        score = 40
    total += score
print(total // 5)

#### 5543 상근날드

In [ ]:
burger = min([int(input()) for _ in range(3)])
beverage = min([int(input()) for _ in range(2)])
print(burger + beverage - 50)

#### 3046 R2

In [ ]:
r1, s = map(int, input().split())
print(2 * s - r1)

#### 10808 알파벳 개수

In [ ]:
from string import ascii_lowercase

s = input()
alpha = {a:0 for a in ascii_lowercase}
for ss in s:
    alpha[ss] += 1
    
for cnt in alpha.values():
    print(cnt, end=' ')

#### 2752 세수정렬

In [ ]:
ls = list(map(int, input().split()))
ls = list(map(str, sorted(ls)))
print(' '.join(ls))

#### 10797 10부제

In [ ]:
num = int(input())
cars = list(map(int, input().split()))
print(cars.count(num))

#### 10162 전자레인지

In [ ]:
times = [300, 60, 10]
rst = ''
t = int(input())
for time in times:
    rst += str(t // time) + ' '
    t %= time

if t > 0:
    print(-1)
else:
    print(rst.rstrip())

#### 15873 공백 없는 A+B

In [ ]:
nums = input()
l = len(nums)
if l == 4:
    print(int(nums[:2]) + int(nums[2:]))
elif l == 3:
    if nums[0] == '1':
        print(int(nums[:2]) + int(nums[2:]))
    else:
        print(int(nums[:1]) + int(nums[1:]))
elif l == 2:
    print(int(nums[0]) + int(nums[1]))

#### 2441 별 찍기 - 4

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    print(' ' * (n-i) + '*' * i)

#### 2442 별 찍기 - 5

In [ ]:
n = int(input())
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2 * i - 1))

#### 2576 홀수

In [ ]:
oddsum = 0
min_odd = 100
while True:
    try:
        num = int(input())
        if num % 2 == 1:
            oddsum += num
            min_odd = min(min_odd, num)
    except:
        break
        
if oddsum == 0:
    print(-1)
else:
    print(oddsum)
    print(min_odd)

#### 11365 !밀비 급일

In [ ]:
while True:
    s = input()
    if s == 'END':
        break
    print(s[::-1])

#### 5575 타임 카드

In [ ]:
for _ in range(3):
    ls = list(map(int, input().split()))
    start, end = ls[:3], ls[3:]
    diff = 0
    rst = ''
    for i in range(2, -1, -1):
        e = end[i] - diff
        s = start[i]
        if s > e:
            e += 60
            diff = 1
        else:
            diff = 0
        rst = str(e - s) + ' ' + rst
        
    print(rst)

In [ ]:
import datetime as dt
for _ in range(3):
    ls = input().split()
    start, end = ls[:3], ls[3:]
    start = dt.datetime.strptime(':'.join(start), '%H:%M:%S')
    end = dt.datetime.strptime(':'.join(end), '%H:%M:%S')
    diff = end - start
    second=diff.total_seconds()
    for i in range(3):
        print(int(second // (60 ** (2 - i))), end=' ')
        second %= (60 ** (2 - i))

#### 25206 너의 평점은

In [ ]:
grades = {'A+':4.5, 'A0':4.0,'B+':3.5,'B0':3.0,'C+':2.5,'C0':2.0,'D+':1.5,'D0':1.0,'F':0.0}
cnt = 0
total = 0
for _ in range(20):
    name, class_grade, grade = input().split()
    if grade == 'P':
        continue
    cnt += float(class_grade)
    total += float(class_grade) * grades[grade]
    
print(total / cnt)

#### 1264 모음의 개수

In [ ]:
alpha = ['a','e','i','o','u']
while True:
    s = input().lower()
    if s == '#':
        break
    cnt = 0
    for ss in s:
        if ss in alpha:
            cnt += 1
    print(cnt)

#### 2530 인공지능 시계

In [ ]:
import datetime as dt
now = dt.datetime.strptime(':'.join(input().split()), '%H:%M:%S')
add = dt.timedelta(seconds=int(input()))
end = now + add
print(end.hour, end.minute, end.second)

#### 2845 파티가 끝나고 난 뒤

In [ ]:
L, P = map(int, input().split())
nums = L * P
rst = [str(article - nums) for article in list(map(int, input().split()))]
print(' '.join(rst))

#### 5532 방학 숙제

In [ ]:
from math import ceil

L = int(input())
A = int(input())
B = int(input())
C = int(input())
D = int(input())
korean = ceil(A / C)
math = ceil(B / D)

print(L - max(korean, math))

#### 6764 Sounds fishy!

In [ ]:
stat = '.'
prev = 0
for _ in range(4):
    depth = int(input())
    if prev != 0:
        if stat == '+':
            if prev >= depth:
                stat = 'x'
        elif stat == '-':
            if prev <= depth:
                stat = 'x'
        elif stat == '.':
            if prev < depth:
                stat = '+'
            elif prev > depth:
                stat = '-'
    prev = depth
    
if stat == 'x':
    print('No Fish')
elif stat == '+':
    print('Fish Rising')
elif stat == '-':
    print('Fish Diving')
elif stat == '.':
    print('Fish At Constant Depth')

#### 6763 Speed fines are not fine!

In [ ]:
diff = - int(input()) + int(input())
if diff <= 0:
    print('Congratulations, you are within the speed limit!')
elif diff <= 20:
    print('You are speeding and your fine is $100.')
elif diff <= 30:
    print('You are speeding and your fine is $270.')
else:
    print('You are speeding and your fine is $500.')

#### 6749 Next in line

In [ ]:
youngest = int(input())
middle = int(input())
print(middle + (middle - youngest))

#### 5928 Contest Timing

In [ ]:
import datetime as dt
start = dt.datetime(2011, 11, 11, 11, 11)
inp = list(map(int, input().split()))
end = dt.datetime(2011, 11, inp[0], inp[1], inp[2])
diff = end - start
minutes = diff.days * 24 * 60 + diff.seconds // 60
if minutes < 0:
    print(-1)
else:
    print(minutes)

#### 5554 심부름 가는 길

In [ ]:
total = int(input()) + int(input()) + int(input()) + int(input())
print(total // 60)
print(total % 60)

#### 5893 17배

In [10]:
inp = input()
num = 0
for i in range(len(inp)):
    num += int(inp[len(inp) - i - 1]) * (2 ** i)
n = bin(num * 17)[2:]
print(n)

10110111
110000100111

#### 5596 시험 점수

In [ ]:
mingook = sum(map(int, input().split()))
manse = sum(map(int, input().split()))
print(max(mingook, manse))

#### 3578 Holes

In [ ]:
n = int(input())
s = ''
if n % 2  == 1:
    s += '4'
if n // 2 == 0:
    print((n+1) % 2)
else:
    s += '8' * (n // 2)
    print(s)

#### 4589 Gnome Sequencing

In [2]:
n = int(input())
print('Gnomes:')
for _ in range(n):
    inp = list(map(int, input().split()))
    if inp == sorted(inp) or inp == sorted(inp,reverse=True):
        print('Ordered')
    else:
        print('Unordered')

1
0 0 0
Ordered

#### 6778 Which Alien?

In [ ]:
antenna = int(input())
eyes = int(input())
if antenna >= 3 and eyes <= 4:
    print('TroyMartian')
if antenna <= 6 and eyes >= 2:
    print('VladSaturnian')
if antenna <= 2 and eyes <= 3:
    print('GraemeMercurian')

#### 6810 ISBN

In [ ]:
total = 91
mult = [1, 3, 1]
for i in range(3):
    total += mult[i] * int(input())
print(f'The 1-3-sum is {total}')

#### 7891 Can you add this?

In [ ]:
n = int(input())
for _ in range(n):
    print(sum(map(int, input().split())))

#### 8558 Silnia

In [ ]:
from math import factorial
n = int(input())
print(factorial(n)%10)

#### 8674 Tabliczka

In [8]:
a, b = map(int, input().split())
if (a % 2 == 0 and b % 2 == 0) or (a % 2 == 1 and b % 2 == 1):
    print(min(a, b))
else:
    print(0)

4 2
2

#### 8710 Koszykarz

In [9]:
from math import ceil
k, w, m = map(int, input().split())
print(ceil((w - k) / m))

180 202 10
3

####  8718 Bałwanek

In [10]:
x, k = map(int, input().split())

if 7 * k <= x:
    print(7 * k * 1000)
elif 7 * k / 2 <= x:
    print(7 * k * 500)
elif 7 * k / 4 <= x:
    print(7 * k * 250)
else:
    print(0)

10 2
7000

#### 8723번 Patyki

In [ ]:
lengths = sorted(list(map(int, input().split())))
a, b, c = lengths
if a == b == c:
    print(2)
elif a ** 2 + b ** 2 == c ** 2:
    print(1)
else:
    print(0)

#### 8760 Schronisko