#### 2440 별 찍기 - 3

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    print('*' * i)

#### 10039 평균 점수

In [ ]:
total = 0
for _ in range(5):
    score = int(input())
    if score < 40:
        score = 40
    total += score
print(total // 5)

#### 5543 상근날드

In [ ]:
burger = min([int(input()) for _ in range(3)])
beverage = min([int(input()) for _ in range(2)])
print(burger + beverage - 50)

#### 3046 R2

In [ ]:
r1, s = map(int, input().split())
print(2 * s - r1)

#### 10808 알파벳 개수

In [ ]:
from string import ascii_lowercase

s = input()
alpha = {a:0 for a in ascii_lowercase}
for ss in s:
    alpha[ss] += 1
    
for cnt in alpha.values():
    print(cnt, end=' ')

#### 2752 세수정렬

In [ ]:
ls = list(map(int, input().split()))
ls = list(map(str, sorted(ls)))
print(' '.join(ls))

#### 10797 10부제

In [ ]:
num = int(input())
cars = list(map(int, input().split()))
print(cars.count(num))

#### 10162 전자레인지

In [ ]:
times = [300, 60, 10]
rst = ''
t = int(input())
for time in times:
    rst += str(t // time) + ' '
    t %= time

if t > 0:
    print(-1)
else:
    print(rst.rstrip())

#### 15873 공백 없는 A+B

In [ ]:
nums = input()
l = len(nums)
if l == 4:
    print(int(nums[:2]) + int(nums[2:]))
elif l == 3:
    if nums[0] == '1':
        print(int(nums[:2]) + int(nums[2:]))
    else:
        print(int(nums[:1]) + int(nums[1:]))
elif l == 2:
    print(int(nums[0]) + int(nums[1]))

#### 2441 별 찍기 - 4

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    print(' ' * (n-i) + '*' * i)

#### 2442 별 찍기 - 5

In [ ]:
n = int(input())
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2 * i - 1))

#### 2576 홀수

In [ ]:
oddsum = 0
min_odd = 100
while True:
    try:
        num = int(input())
        if num % 2 == 1:
            oddsum += num
            min_odd = min(min_odd, num)
    except:
        break
        
if oddsum == 0:
    print(-1)
else:
    print(oddsum)
    print(min_odd)

#### 11365 !밀비 급일

In [ ]:
while True:
    s = input()
    if s == 'END':
        break
    print(s[::-1])

#### 5575 타임 카드

In [ ]:
for _ in range(3):
    ls = list(map(int, input().split()))
    start, end = ls[:3], ls[3:]
    diff = 0
    rst = ''
    for i in range(2, -1, -1):
        e = end[i] - diff
        s = start[i]
        if s > e:
            e += 60
            diff = 1
        else:
            diff = 0
        rst = str(e - s) + ' ' + rst
        
    print(rst)

In [ ]:
import datetime as dt
for _ in range(3):
    ls = input().split()
    start, end = ls[:3], ls[3:]
    start = dt.datetime.strptime(':'.join(start), '%H:%M:%S')
    end = dt.datetime.strptime(':'.join(end), '%H:%M:%S')
    diff = end - start
    second=diff.total_seconds()
    for i in range(3):
        print(int(second // (60 ** (2 - i))), end=' ')
        second %= (60 ** (2 - i))

#### 25206 너의 평점은

In [1]:
grades = {'A+':4.5, 'A0':4.0,'B+':3.5,'B0':3.0,'C+':2.5,'C0':2.0,'D+':1.5,'D0':1.0,'F':0.0}
cnt = 0
total = 0
for _ in range(20):
    name, class_grade, grade = input().split()
    if grade == 'P':
        continue
    cnt += float(class_grade)
    total += float(class_grade) * grades[grade]
    
print(total / cnt)